# .NET
bin/
obj/
out/
*.user
*.suo
*.cache
*.log

# Visual Studio
.vs/
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# Documentation
README.md
